{% extends 'base.html' %}

{% block page_content %}

	<div>
	<form class="login-form" method="POST">
		<label for="email">Email Address</label>
		<input type="email" name="email" size="70">
		<label for="password">Password</label>
		<input type="password" name="password" size="70">
		<input id="subm" type="submit" name="Submit">
	</form>
	</div>
	<div id="link-reg">
		<span>Don't have an account? Click here to</span><button><a href={{url_for("register")}}>Sign Up</a></button>
	</div>
	

{% endblock %}